nav > a {
    position: absolute;
    width: 81px;
    height: 18px;
    left: 81px;
    color: #02577A;
}

a.cal {
    top: 236px;
}

a.f {
    top: 295px;
}

a.gam {
    left: 89px;
    top: 354px;
}