:root{
    --main-color: #ebeef5;
    --secondary-color: #02577a;
    --grey-color: #c4c4c4;
    --nav-bg-color: #F7F6FF;
    --white-color: #fff;
}

*{
	padding: 0;
	margin: 0;
	border: 0;
}

body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
}

body{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500px;
    font-size: 16px;
	line-height: 20px;
	font-style: normal;
	color: #02577A;
}